<style>
body { color: #333; font-family: 'Segoe UI', 'Lucida Grande', Helvetica, sans-serif; line-height: 1.5; margin: 50px auto; max-width: 800px; }  h1, h2,h3, h4, h5, h6 { font-weight: normal; line-height: 1em; margin: 20px 0; } h1 { font-size: 2.25em; } h2 { font-size: 1.75em; } h3 { font-size: 1.5em; } h4, h5, h6 { font-size: 1.25em; }  a { color: #08C; text-decoration: none; } a:hover, a:focus { text-decoration: underline; } a:visited { color: #058; } img { max-width: 100%; }  li + li { margin-top: 3px; } dt { font-weight: bold; }  code { background: #EEE; font-family: "Consolas", "Lucida Console", monospace; padding: 1px 5px; } pre { background: #EEE; padding: 5px 10px; white-space: pre-wrap; } pre code { padding: 0; }  blockquote { border-left: 5px solid #EEE; margin: 0; padding: 0 10px; }  table { border-collapse: collapse; width: 100%; } table + table { margin-top: 1em; } thead { background: #EEE; text-align: left; } th, td { border: 1px solid #EEE; padding: 5px 10px; }  hr { background: #EEE; border: 0; height: 1px; }
</style>

<h3>Aufgaben zum Rechnen mit HEX-Zahlen</h3>
  <th><h5>Tabelle der 16er-Potenzen</h5></th>
<table border=1>
  <tr><th>Exponent</th><th>Wert</th></tr>
  <tr><td>16^1</td><td>16     </td></tr>
  <tr><td>16^2</td><td>256    </td></tr>
  <tr><td>16^3</td><td>4096   </td></tr>
  <tr><td>16^4</td><td>65536  </td></tr>
  <tr><td>16^5</td><td>1048576</td></tr>
  <tr><th>Multiples</th><th>Wert</th></tr>
  <tr><td>16*1</td><td>16     </td></tr>
  <tr><td>16*2</td><td>32     </td></tr>
  <tr><td>16*3</td><td>48     </td></tr>
  <tr><td>16*4</td><td>64     </td></tr>
  <tr><td>16*5</td><td>80     </td></tr>
  <tr><td>16*6</td><td>96     </td></tr>
  <tr><td>16*7</td><td>112     </td></tr>
  <tr><td>16*8</td><td>128     </td></tr>
  <tr><td>16*9</td><td>144     </td></tr>
  <tr><td>16*10</td><td>160     </td></tr>
</table>
<br>
<br>
145/3

a) 7+C
7 * 16^0 = 7
12 * 16^0 = 7

b) 6+F

c) D+C

d) E+E

145/4

a) B-6

b) F-9

c) E-A

d) AB-3F

e) E4-D8
