<style>
body { color: #333; font-family: 'Segoe UI', 'Lucida Grande', Helvetica, sans-serif; line-height: 1.5; margin: 50px auto; max-width: 800px; }  h1, h2,h3, h4, h5, h6 { font-weight: normal; line-height: 1em; margin: 20px 0; } h1 { font-size: 2.25em; } h2 { font-size: 1.75em; } h3 { font-size: 1.5em; } h4, h5, h6 { font-size: 1.25em; }  a { color: #08C; text-decoration: none; } a:hover, a:focus { text-decoration: underline; } a:visited { color: #058; } img { max-width: 100%; }  li + li { margin-top: 3px; } dt { font-weight: bold; }  code { background: #EEE; font-family: "Consolas", "Lucida Console", monospace; padding: 1px 5px; } pre { background: #EEE; padding: 5px 10px; white-space: pre-wrap; } pre code { padding: 0; }  blockquote { border-left: 5px solid #EEE; margin: 0; padding: 0 10px; }  table { border-collapse: collapse; width: 100%; } table + table { margin-top: 1em; } thead { background: #c2c2c2; text-align: left; } th, td { border: 1px solid #C2C2C2; padding: 5px 10px; }  hr { background: #C2C2C2; border: 0; height: 1px; width:auto}
</style>

<h3>Aufgaben zum Rechnen mit dem Zweierkomplement</h3>
<h5>Vorgehen</h5>
<ol>
<li>Minuenden mit Bits auffuellen: 110 => 0110</li>
<li>Einerkomplement bilden (Invertieren): 0110 => 1001 </li>
<li>Zweierkomplement bilden (+1 Addieren): 1001 => 1010</li>

</ol>


<table border=1>
  <tr><th>No</th><th>Term</th><th>Einerkomplement</th><th>Zweierkomplement</th><td><b>=</b></td></tr>
  <tr><td>a)</td><td>1101-110     </td><td>1001  </td><td>1010</td>
    <td>
      &nbsp;&nbsp;&nbsp;
      1101<br>
    + 1010<br><hr>
    = 0111
    </td>
  </tr>

  <tr><td>b)</td><td>11101-111    </td><td>11000  </td><td>11001</td>
    <td>
      &nbsp;&nbsp;&nbsp;
       11101<br>
     + 11001 <br><hr>
     = 10110
     </td>
    </tr>

  <tr><td>c)</td><td>101010-001010</td><td>110101</td><td>110110</td>
    <td>
      &nbsp;&nbsp;&nbsp;
       101010<br>
     + 110110 <br><hr>
     = 100000
    </td>
  </tr>

  <tr><td>d)</td><td>111101-011010</td><td>100101</td><td>100110</td>
    <td>
      &nbsp;&nbsp;&nbsp;
       111101<br>
      + 100110 <br><hr>
      = 100011
    </td>
  </tr>
  
</table>
<br>
<br>
