<style>
body { color: #333; font-family: 'Segoe UI', 'Lucida Grande', Helvetica, sans-serif; line-height: 1.5; margin: 50px auto; max-width: 800px; padding:20px; }  h1, h2,h3, h4, h5, h6 { font-weight: normal; line-height: 1em; margin: 20px 0; } h1 { font-size: 2.25em; } h2 { font-size: 1.75em; } h3 { font-size: 1.5em; } h4, h5, h6 { font-size: 1.25em; }  a { color: #08C; text-decoration: none; } a:hover, a:focus { text-decoration: underline; } a:visited { color: #058; } img { max-width: 100%; }  li + li { margin-top: 3px; } dt { font-weight: bold; }  code { background: #EEE; font-family: "Consolas", "Lucida Console", monospace; padding: 1px 5px; } pre { background: #EEE; padding: 5px 10px; white-space: pre-wrap; } pre code { padding: 0; }  blockquote { border-left: 5px solid #EEE; margin: 0; padding: 0 10px; }  table { border-collapse: collapse; width: 100%; } table + table { margin-top: 1em; } thead { background: #EEE; text-align: left; } th, td { border: 1px solid #EEE; padding: 5px 10px; }  hr { background: #EEE; border: 0; height: 1px; }
</style>

<h3>Aufgabenblatt Hexadezimal</h3>
  <th><h5>Tabelle der 16er-exponenten</h5></th>
<table border=1>
  <tr><th>Exponent</th><th>Wert</th></tr>
  <tr><td>16^1</td><td>16     </td></tr>
  <tr><td>16^2</td><td>256    </td></tr>
  <tr><td>16^3</td><td>4096   </td></tr>
  <tr><td>16^4</td><td>65536  </td></tr>
  <tr><td>16^5</td><td>1048576</td></tr>
  <tr><th>Multiples</th><th>Wert</th></tr>
  <tr><td>16*1</td><td>16     </td></tr>
  <tr><td>16*2</td><td>32     </td></tr>
  <tr><td>16*3</td><td>48     </td></tr>
  <tr><td>16*4</td><td>64     </td></tr>
  <tr><td>16*5</td><td>80     </td></tr>
  <tr><td>16*6</td><td>96     </td></tr>
  <tr><td>16*7</td><td>112     </td></tr>
  <tr><td>16*8</td><td>128     </td></tr>
  <tr><td>16*9</td><td>144     </td></tr>
  <tr><td>16*10</td><td>160     </td></tr>
</table>
<br>

<b>a)</b> 3E                                                                       <br>
 3 * 16^1 = 48                                                              <br>
14 * 16^0 = 14                                                              <br>
48 + 14 = <u>62</u>                                                         <br>
                                                                            <br>
<b>b)</b> A0                                                                       <br>
10 * 16^1 = 160                                                             <br>
 0 * 16^0 =   0                                                             <br>
                                                                            <br>
<b>c)</b> 4F                                                                       <br>
 4 * 16^1 = 64                                                              <br>
15 * 16^0 = 15                                                              <br>
64 + 15 = <u>79</u>                                                         <br>
                                                                            <br>
<b>d)</b> 9D                                                                       <br>
 9 * 16^1 = 144                                                             <br>
13 * 16^0 =  13                                                             <br>
128 + 13  = <u>157</u>                                                      <br>
                                                                            <br>
<b><u>146/2</u></b>                                                                       <br>
                                                                            <br>
<b>a)</b> 27                                                                       <br>
 2 * 16^1 = 32                                                              <br>
 7 * 16^0 = 7                                                               <br>
32 + 7 = <u>39</u>                                                          <br>
                                                                            <br>
<b>b)</b> 6A4                                                                      <br>
 6 * 16^2 = 1536                                                            <br>
10 * 16^1 =  160                                                            <br>
 4 * 16^0 =    4                                                            <br>
1536 + 160 + 4 = <u>1700</u>                                                <br>
                                                                            <br>
<b>c)</b> 7DF4                                                                     <br>
 7 * 16^3 = 28672                                                           <br>
13 * 16^2 =  3328                                                           <br>
15 * 16^1 =   240                                                           <br>
 4 * 16^0 =     4                                                           <br>
28672 + 3328 + 240 + 4 = <u>32244</u>                                           <br>
                                                                            <br>
<b>d)</b> 80BC                                                                     <br>
 8 * 16^3 = 32768                                                           <br>
 0 * 16^2 =     0                                                           <br>
11 * 16^1 =   176                                                           <br>
12 * 16^0 =    12                                                           <br>
32768 + 0 +176 + 12 = <u>32956</u>                                          <br><br>
                                                                            <br>
Nutzen Sie das Resteverfahren zur Umwandlung in das Hexadezimalsystem:      <br>
                                                                            <br>
<b><u>146/5</u></b>                                                                       <br>
                                                                            <br>
<b>a)</b> 56                                                                       <br>
56 / 16 = 3 R 8                                                             <br>
3  / 16 = 0 R 3                                                             <br>
Ergebnis: <u>38</u>                                                                <br>
                                                                            <br>
<b>b)</b> 18                                                                       <br>
18 / 16 = 1 R 2                                                             <br>
1  / 16 = 0 R 1                                                             <br>
Ergebnis: <u>21</u>                                                                <br>
                                                                            <br>
<b>c)</b> 23                                                                       <br>
23 / 16 = 1 R 7                                                             <br>
1  / 16 = 0 R 1                                                             <br>
Ergebnis: <u>71</u>                                                                <br>
                                                                            <br>
<b>d)</b> 85                                                                       <br>
85 / 16 = 5 R 5                                                             <br>
5  / 16 = 0 R 5                                                             <br>
Ergebnis: <u>55</u>                                                                <br>
                                                                            <br>
                                                                            <br>
                                                                            <br>
                                                                            <br>
<b><u>146/7</u></b>                                                                       <br>
                                                                            <br>
<b>a)</b> 334                                                                      <br>
334 / 16 = 20 R 14                                                          <br>
 20 / 16 = 1  R 4                                                           <br>
  1 / 16 = 0  R 1                                                           <br>
Ergebnis: <u>14E</u>                                                               <br>
                                                                            <br>
                                                                            <br>
<b>b)</b> 741                                                                      <br>
741 / 16 = 46 R 5                                                           <br>
 46 / 16 = 2  R 14                                                          <br>
  2 / 16 = 0  R 2                                                           <br>
Ergebnis: <u>2E5</u>                                                               <br>
                                                                            <br>
<b>c)</b> 345                                                                      <br>
345 / 16 = 21 R 9                                                           <br>
 21 / 16 = 1  R 5                                                           <br>
  1 / 16 = 0  R 1                                                           <br>
Ergebnis: <u>159</u>                                                               <br>
                                                                            <br>
<b>d)</b> 4521                                                                     <br>
4521 / 16 = 282 R 9                                                         <br>
 282 / 16 = 17  R 10                                                        <br>
  17 / 16 = 1   R 1                                                         <br>
   1 / 16 = 0   R 1                                                         <br>
Ergebnis: <u>11A9</u>                                                              <br>
                                                                            <br>
